<form id="sendmsg">
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      aria-describedby="emailHelp"
    />
    <div id="emailHelp" class="form-text">
      We'll never share your email with anyone else.
    </div>
  </div>
  <div class="mb-3">
    <label for="pwd" class="form-label">Password</label>
    <input autocomplete="off" type="password" class="form-control" id="pwd" />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<a
  href="/register"
  class="btn btn-primary active"
  role="button"
  data-bs-toggle="button"
  aria-pressed="true"
  >register</a
>
<script type="module" src="./index.js"></script>
