<div class="mb-3">
  <form action="/upload" method="post" enctype="multipart/form-data">
    <label for="formFile" class="form-label">Default file input example</label>
    <input class="form-control" type="file" name="pic" id="formFile" multiple />
    <button type="submit">upload</button>
  </form>
</div>
